section {
    padding: 20px 50px;
}

.options-block {
    margin-top: 20px;
    min-height: 50px;
}
.option-checkbox {
    margin-bottom: 10px;
    font-weight: bold;
}
.option-checkbox-info {
    margin-left: 30px;
}

.grid-choose-block {
    border-style: dotted;
    border-width: 2px;
    border-color: #8d8d8d;
    cursor: pointer;
}
.grid-choose-block--checked {
    background-color: rgba(215, 170, 15, .6);
}
.grid-choose-block--checked {
    border-color: rgba(255, 255, 255, 0);
}
.grid-choose-block--inactive {
    /*border-color: #ccc;*/
}
.grid-choose-block--disabled {
    border-color: #ccc;
    color: #ccc;
}
.grid-choose-block:not(.grid-choose-block--disabled):hover {
    background-color: rgba(215, 170, 15, .6);
}

.main-container__header,
.main-container__greet {
    text-align: center;
}
.main-container__header {
    font-size: 2em;
    margin: 0;
    letter-spacing: 2px;
}
.main-container__greet {
    color: #8b8b8b;
}
.main-container__content {
    margin: 20px 0;
}

.main-container__content__top {
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-container__content__top,
.main-container__content__bottom {
    padding: 20px;
    text-align: center;
    background-color: rgba(110, 140, 190, 0.2);
}
.main-container__content__top__text {
    font-weight: bold;
    margin: 0 10px;
}
.main-container__content__top__img {
    width: 50px;
}

.payment-methods-container__method__name {
    font-weight: bold;
    font-size: 1.1em;
}
.payment-methods-container__method__desc {
    color: #a2a2a2;
}

.payment-methods-container__method--nocover {
    text-align: center;
}

.payment-date-container__tariff__content {
    text-align: left;
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
    font-weight: bold;
    position: relative;
}
.payment-date-container__tariff__content__duration {
    font-size: 1.2em;
}
.payment-date-container__tariff__content__amount {
    color: #673626;
    font-weight: 600;
}
.payment-date-container__tariff__content__amount,
.payment-date-container__tariff__content__month-price-container {
    padding-top: 5px;
}
.payment-date-container__tariff__content__duration,
.payment-date-container__tariff__content__amount {
    display: block;
}    
.payment-date-container__tariff__content__month-price-container__price {
    font-size: 2em;
}
.payment-date-container__tariff__content__card {
    width: 40%;
    position: absolute;
    top: -10px;
    right: -10px;
}

.payment-date__info {
    margin-top: 10px;
}

.year-amount-container {
    font-weight: bold;
    font-size: 2em;
}
.year-amount-container__currency {
    font-size: .5em;
}
.year-amount-container__equation {
    color: #c5c5c5;
}

.main-container__content__bottom__block__img {
    width: 30px;
    height: 30px;
}
.main-container__content__bottom__block__text {
    text-align: left;
    padding: 0 10px;
}
.main-container__content__bottom__info-block {
    margin-top: 20px;
}

.pay-button {
    max-width: 150px;
    background: linear-gradient(to top, #c6a810, #f6c821, #fde841);
    box-shadow: 0px 3px 5px rgba(0,0,0,0.2);
    border-radius: 30px;
    padding: 10px;
    border: none;
    cursor: pointer;
    font-family: 'PT Sans', sans-serif;
    font-weight: bold;
}
.pay-button:active {
    box-shadow: inset 0px 5px 10px rgba(0,0,0,0.4);
}
.pay-button:disabled {
    background: none;
    box-shadow: none;
    border: 2px solid #999;
    color: #999;
    cursor: auto;
}