<link rel="stylesheet" href="app/payments/subscriptions/subscriptions.css">

<md-content class="main-container center-content" layout="column">
    <h2 flex class="main-container__header">Оформление подписки</h2>
    <span flex class="main-container__greet">Спасибо, что решили стать участником клуба</span>
    <md-content class="main-container__content md-whiteframe-1dp">
        <div class="main-container__content__top">
            <img class="main-container__content__top__img" src="assets/images/crown.png" alt="">
            <span class="main-container__content__top__text">Клуб выгодных покупок</span>
        </div>
        <section class="payment-method">
            <h3>Выберите способ оплаты</h3>
            <md-grid-list class="payment-methods-container"
                            md-cols-xs="2" md-cols-sm="4" md-cols-gt-md="8"
                            md-row-height="1:1"
                            md-gutter="20px">
                <md-grid-tile md-colspan="2"
                            md-rowspan="1"
                            ng-click="subscriptions.setCurrentPaymentMethod(method)"
                            ng-repeat="method in subscriptions.paymentMethods"
                            ng-class="{ 
                                        'payment-methods-container__method': true,
                                        'grid-choose-block': true,
                                        'grid-choose-block--inactive': !subscriptions.isCurrentMethod(method) && subscriptions.currentPaymentMethod,
                                        'grid-choose-block--checked': subscriptions.isCurrentMethod(method) && subscriptions.currentPaymentMethod,
                                        'grid-choose-block--disabled': subscriptions.isMethodDisabled(method)
                                        }">
                    <img  class="payment-methods-container__method__cover"
                            ng-if="method.active_cover"
                            ng-src="{{ subscriptions.setCover(method) }}"
                            alt="{{ method.name }}">
                    <div ng-if="!method.active_cover" class="payment-methods-container__method--nocover">
                        <span class="payment-methods-container__method__name">{{ method.name }}</span><br/>
                        <span class="payment-methods-container__method__desc">{{ method.desc }}</span>
                    </div>
                </md-grid-tile>
            </md-grid-list>
            <div class="payment-method__options options-block">
                <md-checkbox class="payment-method__options__gift-subscription option-checkbox" ng-show="subscriptions.giftSubscriptionShow()" name="gift" ng-model="subscriptions.isGiftSubscription" aria-label="gift">Покупаю подписку в подарок</md-checkbox>
            </div>
        </section>
        <md-divider></md-divider>
        <section class="payment-date" ng-show="subscriptions.currentPaymentMethod">
            <h3 flex class="payment-date__header">На какой срок</h3>
            <md-grid-list class="payment-date-container"
                            md-cols-xs="2" md-cols-sm="4" md-cols-gt-md="8"
                            md-row-height="1:1"
                            md-gutter="20px">
                <md-grid-tile md-colspan="2"
                            md-rowspan="1"
                            ng-click="subscriptions.setCurrentTariff(tariff)"
                            ng-repeat="tariff in subscriptions.tariffs"
                            ng-class="{ 
                                        'payment-date-container__tariff': true,
                                        'grid-choose-block': true,
                                        'grid-choose-block--inactive': !subscriptions.isCurrentTariff(tariff) && subscriptions.currentTariff,
                                        'grid-choose-block--checked': subscriptions.isCurrentTariff(tariff) && subscriptions.currentTariff
                                      }">
                    <div class="payment-date-container__tariff__content">
                        <span class="payment-date-container__tariff__content__duration">{{ tariff.duration }}</span>
                        <span class="payment-date-container__tariff__content__amount">{{ tariff.amount }} руб.</span>
                        <div class="payment-date-container__tariff__content__month-price-container">
                            <span class="payment-date-container__tariff__content__month-price-container__price">{{ tariff.month_pay }}</span>
                            <span class="payment-date-container__tariff__content__month-price-container__currency">руб./месяц</span>
                        </div>
                        <img class= "payment-date-container__tariff__content__card" ng-src="{{ tariff.card_cover }}" alt="">
                    </div>
                    
                </md-grid-tile>
            </md-grid-list>
            <div class="payment-date__info text-secondary">
                В конце срока подписка продлится автоматически. Вы можете выключить<br>
                автопродление в любой момент в настройках или отменить его.
            </div>
            <div class="payment-date__options options-block">
                <md-checkbox ng-show="subscriptions.isAutoProlongAvailable()" class="payment-date__options__auto-prolong option-checkbox" name="autoProlong" ng-model="subscriptions.isAutoProlong" aria-label="autoProlong">
                    Продлевать подписку автоматически
                </md-checkbox>
                <div ng-show="subscriptions.isAutoProlongAvailable()" class="payment-date__options__agreement option-checkbox-info text-secondary">
                    Оплачивая подписку, я принимаю условия оплаты, указанные в оферте и условия автоматического<br>
                    продления подписки на месяц вперед
                </div>
            </div>
        </section>
        <md-divider></md-divider>
        <section class="payment-date" ng-show="subscriptions.currentPaymentMethod && subscriptions.currentTariff">
            <h3 flex class="total-block__header">Итого к оплате (за 1 год)</h3>
            <div class="total-block__amount">
                <div class="total-block__amount__year year-amount-container">
                    <span class="year-amount-container__equation" ng-if="subscriptions.isAddDiscount">
                        {{ subscriptions.currentTariff.amount }} + 150
                    </span>
                    <span class="year-amount-container__equal-sign" ng-if="subscriptions.isAddDiscount">=</span>
                    <span class="year-amount-container__price">{{ subscriptions.calculateCurrentAmount() }}</span>
                    <span class="year-amount-container__currency"> руб.</span>
                </div>
                <span class="total-block__amount__month text-secondary" ng-if="subscriptions.isAutoProlong">Далее 120 рублей в месяц</span>
            </div>
            <div class="total-block__options options-block">
                <md-checkbox class="total-block__options__add-discount option-checkbox"
                             name="addDiscount"
                             ng-model="subscriptions.isAddDiscount"
                             aria-label="addDiscount"
                             ng-change="subsciptions.addDiscountChanged()">
                    Добавить подписку на скидку 5% на весь ассортимент товаров
                </md-checkbox>
                <div class="total-block__options__info option-checkbox-info text-secondary">
                    Срок действия подписки 6 месяцев. Стоимость подписки 150 руб.
                </div>
            </div>
        </section>
        <div class="main-container__content__bottom" layout="column">
            <button ng-disabled="!subscriptions.currentTariff"
                    class="main-container__content__bottom__btn pay-button">Оплатить</button>
            <div class="main-container__content__bottom__info-block" layout>
                <div class="main-container__content__bottom__block" flex layout>
                    <img class="main-container__content__bottom__block__img" src="assets/images/sprite.nocomission-silver.png" alt="">
                    <span class="main-container__content__bottom__block__text">
                        Нет комиссии при оплате банковскими картами Яндекс.Деньгами и Qiwi
                    </span>
                </div>
                <div class="main-container__content__bottom__block" flex layout>
                    <img class="main-container__content__bottom__block__img" src="assets/images/sprite.lock-silver.png" alt="">
                    <span class="main-container__content__bottom__block__text">
                        Все платежи надежно защищены и соответствуют международным стандартам
                    </span>
                </div>
                <div class="main-container__content__bottom__block" flex></div>
            </div>
            
        </div>
    </md-content>
</md-content>

