body {
    font-family: 'PT Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
}

.center-content {
    padding: 10px 10%;
}

.header {
    align-items: center;
}
.header__logo {
    max-height: 80px;
}
.header__line {
    border: solid 1px #f65b21;
    height: 1px;
}

.footer__shop-label,
.footer__support-link {
    margin: 10px 20px 0 0;
    font-size: .9em;
    color: #444;
}